._3ks5 {
  background: #fff;
  border: 1px solid #dadde1;
  border-radius: 2px;
}

div {
  display: block;
}

._8bb_ {
  background: none;
  background-color: #d9dadb !important;
}

.buttonsize {
  width: 180px;
}
