$width: 290px;
.layout__sidebar:not(.layout__sidebar--slim) {
    width: $width;
    @media (max-width: 991.98px) {
        width: 0;
    }
    .sidebar {
        width: $width;
    }
}
.layout__sidebar {
    &.layout__sidebar--slim {
        .dropdown-toggle {
            img {
                display: none;
            }
        }
    }
}

