.card-doxa {
    .card-header {
        padding-bottom: 60px;
        background-color: white;
        font-weight: 600;
        font-size: 20px;
    }

    &--primary {
        .card-header {
            border-top: 6px solid $primary;
        }
    }

    &--secondary {
        .card-header {
            border-top: 6px solid $secondary;
        }
    }

    &--light-purple {
        .card-header {
            border-top: 6px solid $light-purple;
        }
    }

    &--light-pink {
        .card-header {
            border-top: 6px solid $light-pink;
        }
    }

    &-header-number {
        margin-left: 10px;
        padding: 7px 10px;
        background: #F2F2F2;
        font-size: 13px;
        border-radius: 5px;
    }

    &-rounded {
        border-radius: 20px;
    }

    .card-body {
        padding: 0;

        .row {
            padding: 0.5rem;
            margin-left: 0;
            margin-right: 0;

            +.row {
                border-top: 1px solid #E0E0E0;
            }
        }
    }
}