$primary: #AEC57D       !default;
$secondary: #868E96     !default;
$light-purple: #F9FAFC  !default;
$light-pink: #F88686    !default;
$primary-100: #E9EFDB   !default;;
$primary-400: #BDCF94   !default;;
$primary-500: #AEC57D   !default;;
$primary-600: #98B55A   !default;;
$red-100: #FEE6E6       !default;;
$red-400: #FAA6A6       !default;;
$red-500: #F88686       !default;;
$red-600: #F66666       !default;;
$dark-100: #E6E9ED      !default;;
$dark-300: #B5BEC9      !default;;
$dark-400: #98A4B3      !default;;
$dark-500: #8493A5      !default;;
$dark-600: #68798E      !default;;