@import "~@owczar/dashboard-style--airframe/scss/bootstrap/_variables";
/* DOXA CONNEX 2.0 DEFAULT COLORS */
$primary: #AEC57D;
$secondary: #868E96;
$light-purple: #F9FAFC;
$light-pink: #F88686;

$light-jade: #6FCBC8;
$dark-grey: #8493A5;
$dark-primary: #99b167;

$draft: #68798E;
$cyan-700: #6FCBC8;
$cyan-900: #41B5B1;
$yellow-600: #FFD243;
$red-500: #F88686;
// $white: #FFFF;